.container {

}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.wrapper {
    width: 100%;
    max-width: var(--containerWidthMedium);
    height: 100%;
    display: flex;
    padding: 20px;
}

.header {

}

.menuBar {
    
}

.button {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(222, 222, 222);
}

.button:active {
    background-color: rgb(182, 182, 182);
}

@media (min-width: 1600px) { 
    .wrapper {
        max-width: var(--containerWidthLarge);
    }
}

@media (min-width: 1920px) { 
    .wrapper {
        max-width: var(--containerWidthExtraLarge);
    }
}