@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --mainWhite: #ededed;
    --mainWhiteBorder: #949494;
    --mainWhiteHover: #e0e0e0;
    --mainBlack: #030303;
    --secondaryBlack: #292929;

    --tinyFont: 200;
    --letterSpace: 0.4px;

    --mainBtn: #5d57c9;
    --secondaryBtn: rgba(112, 112, 112, 0.777);
    --secondaryBtnDisabled: rgba(61, 61, 61, 0.546);
    --text: white;
    --textSoft: #b7bac1;
    --borderRadius: 5px;
    
    --containerWidthExtraSmall: 300px;
    --containerWidthSmall: 500px;
    --containerWidthMedium: 900px;
    --containerWidthLarge: 1200px;
    --containerWidthExtraLarge: 1500px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--mainBlack);
    min-width: 300px;
}
  
a {
    color: inherit;
    text-decoration: none;
}

@mixin mediaMobileSmall {
    @media (min-width: 380px) { @content; }
}

@mixin mediaMobileMedium {
    @media (min-width: 520px) { @content; }
}

@mixin mediaTabletSmall {
    @media (min-width: 768px) { @content; }
}

@mixin mediaTabletMedium {
    @media (min-width: 1024px) { @content; }
}

@mixin mediaTabletLarge {
    @media (min-width: 1366px) { @content; }
}

@mixin mediaPcSmall {
    @media (min-width: 1600px) { @content; }
}

@mixin mediaPcMedium {
    @media (min-width: 1920px) { @content; }
}

@mixin mediaPcLarge {
    @media (min-width: 2560px) { @content; }
}
